* {
  scroll-behavior: smooth;    
}

.test-box {
  color: white;              /* Missing value */
  mispelled-prop: 10px; /* Non-existent property */
  width: "100px";       /* Wrong data type (string vs length) */
}

